[sdl]
fullscreen={{ dosbox_config_sdl_fullscreen }}
fulldouble={{ dosbox_config_sdl_fulldouble }}
fullresolution={{ dosbox_config_sdl_fullresolution }}
windowresolution={{ dosbox_config_sdl_windowresolution }}
output={{ dosbox_config_sdl_output }}
autolock={{ dosbox_config_sdl_autolock }}
sensitivity={{ dosbox_config_sdl_sensitivity }}
waitonerror={{ dosbox_config_sdl_waitonerror }}
priority={{ dosbox_config_sdl_priority }}
mapperfile={{ dosbox_config_sdl_mapperfile }}
usescancodes={{ dosbox_config_sdl_usescancodes }}

[dosbox]
language={{ dosbox_config_dosbox_language }}
machine={{ dosbox_config_dosbox_machine }}
captures={{ dosbox_config_dosbox_captures }}
memsize={{ dosbox_config_dosbox_memsize }}

[render]
frameskip={{ dosbox_config_render_frameskip }}
aspect={{ dosbox_config_render_aspect }}
scaler={{ dosbox_config_render_scaler }}

[cpu]
core={{ dosbox_config_cpu_core }}
cputype={{ dosbox_config_cpu_cputype }}
cycles={{ dosbox_config_cpu_cycles }}
cycleup={{ dosbox_config_cpu_cycleup }}
cycledown={{ dosbox_config_cpu_cycledown }}

[mixer]
nosound={{ dosbox_config_mixer_nosound }}
rate={{ dosbox_config_mixer_rate }}
blocksize={{ dosbox_config_mixer_blocksize }}
prebuffer={{ dosbox_config_mixer_prebuffer }}

[midi]
mpu401={{ dosbox_config_midi_mpu401 }}
mididevice={{ dosbox_config_midi_mididevice }}
midiconfig={{ dosbox_config_midi_midiconfig }}

[sblaster]
sbtype={{ dosbox_config_sblaster_sbtype }}
sbbase={{ dosbox_config_sblaster_sbbase }}
irq={{ dosbox_config_sblaster_irq }}
dma={{ dosbox_config_sblaster_dma }}
hdma={{ dosbox_config_sblaster_hdma }}
sbmixer={{ dosbox_config_sblaster_sbmixer }}
oplmode={{ dosbox_config_sblaster_oplmode }}
oplemu={{ dosbox_config_sblaster_oplemu }}
oplrate={{ dosbox_config_sblaster_oplrate }}

[gus]
gus={{ dosbox_config_gus_gus }}
gusrate={{ dosbox_config_gus_gusrate }}
gusbase={{ dosbox_config_gus_gusbase }}
gusirq={{ dosbox_config_gus_gusirq }}
gusdma={{ dosbox_config_gus_gusdma }}
ultradir={{ dosbox_config_gus_ultradir }}

[speaker]
pcspeaker={{ dosbox_config_speaker_pcspeaker }}
pcrate={{ dosbox_config_speaker_pcrate }}
tandy={{ dosbox_config_speaker_tandy }}
tandyrate={{ dosbox_config_speaker_tandyrate }}
disney={{ dosbox_config_speaker_disney }}

[joystick]
joysticktype={{ dosbox_config_joystick_joysticktype }}
timed={{ dosbox_config_joystick_timed }}
autofire={{ dosbox_config_joystick_autofire }}
swap34={{ dosbox_config_joystick_swap34 }}
buttonwrap={{ dosbox_config_joystick_buttonwrap }}

[serial]
serial1={{ dosbox_config_serial_serial1 }}
serial2={{ dosbox_config_serial_serial2 }}
serial3={{ dosbox_config_serial_serial3 }}
serial4={{ dosbox_config_serial_serial4 }}

[dos]
xms={{ dosbox_config_dos_xms }}
ems={{ dosbox_config_dos_ems }}
umb={{ dosbox_config_dos_umb }}
keyboardlayout={{ dosbox_config_dos_keyboardlayout }}

[ipx]
ipx={{ dosbox_config_ipx_ipx }}

[autoexec]
{{ dosbox_config_autoexec_contents }}
